$dark1: #1a1a1a;
$dark2: #222222; // Gear
$dark3: #282828; // Latex
$light1: #383838;
$light2: #595959; // Gear Secondary
$light3: #FFFFFF;

$blue1: #313139;
$blue2: #47474F;

$accent2: #00c4ff; // Energy Accent
$accent1: #e4a943; // Secondary
$accent3: #E15554;
